@model DSAnexoDocumentoProjeto.Entidades.ViewModel.AnexoDocumentoViewModel;
@{
    ViewData["Title"] = "Editar documento";
}

<nav class="mt-2" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

@*<h5 class="card-title text-center">Criar documento</h5>*@

<div class="card">
    <h5 class="card-header">@ViewData["Title"]</h5>
    <div class="card-body">
         <input type="hidden" asp-for="Id" value="@Model.Id"/>
        
        <form class="row g-3 mt-1" method="post" enctype="multipart/form-data" asp-controller="Upload" asp-action="Edit">
            <partial name="_DicasDeAnexo" />
            <div class="col-md-6">
                <label asp-for="Titulo" class="form-label"></label>
                <input type="text" asp-for="@Model.Titulo" value="@Model.Titulo" class="form-control" id="" maxlength="100" placeholder="Ex: Solicitação, Elogio, Reclamação, Memorando e etc..." required>
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="NomeDoArquivo" class="form-label"></label>
                <input type="text" asp-for="@Model.NomeDoArquivo" value="@Model.NomeDoArquivo" class="form-control" id="" placeholder="Ex: Meu portfólio de 2010" required>
                <span asp-validation-for="NomeDoArquivo" class="text-danger"></span>
            </div>

            <div class="col-mb-3">
                <label asp-for="Descricao" class="form-label"></label>
                <textarea asp-for="@Model.Descricao"  class="form-control" id="exampleFormControlTextarea1" maxlength="2000" rows="2"></textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Arquivo" class="form-label"></label>
                <input type="file" asp-for="@Model.Arquivo" class="form-control" id="fileupload">
                <span asp-validation-for="Arquivo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="col-md-">
                    <input class="btn btn-success" type="submit" value="Editar documento" />
                </div>
            </div>

        </form>
    </div>
</div>


