@model IEnumerable<AnexoDeDocumento>;

@{
    ViewData["Title"] = "Meus Documentos";
}

<h2>Lista de documentos</h2>
<table class="table mt-2">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome do arquivo</th>
            <th scope="col">Descricao</th>
            <th scope="col">Data de criação</th>
            <th scope="col">Tipo de documento</th>
            <th scope="col">Acoes</th>
        </tr>
    </thead>
    @if (Model.Any())
    {
        @foreach (var doc in Model)
        {
            <tbody>
            <tr>
                <th scope="row">@doc.Id</th>
                <td>@doc.NomeDoArquivo</td>
                <td>@doc.Descricao</td>
                <td>@doc.DataDeCriacao</td>
                <td>@doc.ContentType</td>
            </tr>
       
            </tbody>
        }
       
    }

</table>


